<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="downloadTasksFileName" value="tasks.json"/>
    <add key="targetDirectoryPath" value=".."/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${time} | ${message}" useDefaultRowHighlightingRules="False">
        <highlight-row condition="contains('${message}', 'Update found')" foregroundColor="Green"/>
        <highlight-row condition="contains('${message}', 'File downloaded')" foregroundColor="Green"/>
        <highlight-row condition="contains('${message}', 'Action found')" foregroundColor="DarkGreen"/>
        <highlight-row condition="contains('${message}', 'Action finished')" foregroundColor="DarkGreen"/>
      </target>
      <target name="file" xsi:type="File" fileName="log.txt" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console,file"/>
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
